{% extends "base.html" %}
{% block title %}Ceremony{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <div class="offset2 span8">
				<center><img src="static/img/cerecp-1.jpg" class="img-rounded"></center>
                                <br /><br />
                            </div>
                        </div>
                        <div class="row-fluid">
			<div class="span12">
			<h2>A grand celebration!</h2>
			</div>
			</div>
			<div class="row-fluid">
                            <div class="span6">
                                <p>
                                Chris and AnneMarie are getting married at the historic Governor Hotel in the heart of downtown Portland. The ceremony will take place in the Renaissance Room across the hall from the Grand Ballroom, where the reception will be. We plan to toast, laugh, and dance the night away and hope you do, too. Mention the Knepper-Sjoblom wedding for a small discount on your room. The Governor does not allow parties to reserve a block of rooms, so please book as soon as you know you are coming!
                                </p>
                                <br />
                                <p>
                                    “Originally called the Seward Hotel, the Governor opened in 1909 as one of America’s last &#8216;handmade&#8217; buildings, with an Arts and Crafts–inspired exterior detailing and interior furnishings. The hotel was restored to its original grandeur in the early 1990s, reopening as the Governor Hotel in 1992.”</p>
                                <small>-The Govenor Hotel<cite title="Source Title"> <a href="http://www.governorhotel.com" target="_blank">www.governorhotel.com</a></cite></small>
                                </blockquote>
                                <br />
                                <br />
                                </p>
                                <p>
                                    We chose the Governor for its beauty and history, but also its awesome location:<br />
                                    One block from The Galleria stop on MAX light rail system with direct access to Portland International Airport. <br />
                                    Walking distance from some of the city’s best nightlife options.<br />
                                    Adjacent to stops for Portland Streetcar Service to The Pearl District, South Waterfront, and NW 23rd Avenue shopping and great restaurants.
                                </p>
                                 <p><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Governor+Hotel.,+Southwest+11th+Avenue,+Portland,+OR&amp;aq=0&amp;oq=governors+hotel&amp;sll=45.521443,-122.682266&amp;sspn=0.008449,0.019205&amp;ie=UTF8&amp;hq=Governor+Hotel.,+Southwest+11th+Avenue,+Portland,+OR&amp;t=m&amp;ll=45.52057,-122.682684&amp;spn=0.015636,0.032015"><img src="static/img/crecp-map.png" class="img-rounded" alt="Map to Governors Hotel" target="_blank"><br /><small>View Larger Map</a></small></p>
                                <p>
                                    The Governor Hotel Portland, <br />
                                    614 Southwest 11th Avenue, <br />
                                    Portland, OR 97205<br />
				    Telephone: (503)224-3400<br />
				    Toll Free: (888)246-5631<br />
                                </p>
                                
                            

                            </div>
                            <div class="offset1 span5">
                                <p><img src="static/img/cerecp-2.jpg" class="img-rounded"></p><br />
                                <!--<p><img src="static/img/crecp-map.png" class="img-rounded"></p>
                                <p>Click of <a href=""-->
                               </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
{% endblock %}
