{% extends "base.html" %}
{% block title %}First Date{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <div class="span4">
                                <img src="static/img/firstdate-2.jpg" class="img-rounded">
                            </div>
                            <div class="offset1 span7">
                                <h2>A girl walks into a bar...</h2>
                                <p>
                                <br />
                                It’s really more of a pub. With a great brunch. And chili beer. And AnneMarie knew the waitress who worked Sundays and knew she could create a distraction and AnneMarie could escape if the date was going downhill.<br /><br />
                                Chris and AnneMarie’s first date was at Calapooia Brewing Company in Albany. It was nearly noon on Sunday, Nov. 6. They were supposed to meet at 11:30, but as usual, AnneMarie was late.
                                </p>
                                <p>
                                    <!-- <a class="btn btn-primary btn-large">Learn more &raquo;</a> -->
                                </p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span7">
                                <br />
                                <p>
                                Once the date actually started, Chris was funny and charming and AnneMarie was “enchanting” and they closed down Calapooia, then Sidekicks coffee shop turned the lights off on them, so they walked to the newspaper office, neither of them wanting the date to end.<br /><br />
                                More dates followed, usually with Chris making the hour drive to Albany from Eugene.<br /><br />
                                On Valentine’s Day, AnneMarie had her friend Jessica of Rocket Queen Cupcakes make a batch of her famous Calapooia Stout cupcakes and gave them to Chris. Chris gave AnneMarie a necklace with the less than three symbol <3 and a rose made out of Hershey Kisses. <br /><br />
                                Now Jessica is making Chris and AnneMarie’s wedding cakes.
                                </p>
                                <p>
                                    <!-- <a class="btn btn-primary btn-large">Learn more &raquo;</a> -->
                                </p>
                            </div>
                            <div class="offset1 span4">
                                <img src="static/img/firstdate-1.jpg" class="img-rounded">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
{% endblock %}
