{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <div class="span7">

                                 <h2>AnneMarie and Chris are <br />Getting Married!</h2>
				<br />
                                 <p>
                                    Friday, October 18th, 2013<br />
				    7 o'clock in the Evening<br />
                                    The Governor Hotel<br />
			            614 Southwest 11th Avenue,<br />
                                    Portland, Oregon, 97205<br />
                                </p>

                                <p>
                                <br />
                                Welcome to our wedding website!
                                We are so thrilled you are sharing in our special day. We hope you will find some fun and helpful information.<br /><br />
                                Thank you for your love and support.</p>
                            </div>
                            <div class="offset1 span4">
                                <img src="static/img/welcome-2.jpg" class="img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
{% endblock %}
