{% extends "base.html" %}
{% block title %}Information{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <div class="row-fluid">
			    <div class="span4">
				<img src="static/img/info.jpg" class="img-rounded">
			    </div>
                            <div class="offset1 span7">

                                 <h3>Make it a date night!</h3>
                                 <p>
					We love kids, especially yours! That’s why we want them (and you) to have fun Friday, October 18. Our venue is not appropriate for children.
                                </p>
				<br />	
				<h3>Other accommodation options</h3>
                                <p>
					If a European-style hotel is more your speed, consider the <a href="http://www.acehotel.com/portland/reservations/select_room" target="_blank">Ace Hotel</a>. It’s a truly Portland(ia) experience. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
{% endblock %}
