{% extends "base.html" %}
{% block title %}Wedding Registry{% endblock %}
{% block content %}
	<div class="hero-unit">
		<div class="row-fluid">
			<div class="span4">
				<h2>Registries</h2>
				AnneMarie and Chris are registered at:<br/>
				<ul>
					<li><a href="http://www.crateandbarrel.com/Gift-Registry/Annemarie-Knepper-and-Chris-Sjoblom/r4979153" target="_blank">Crate & Barrel</a></li>
					<li><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-683509861&" target="_blank">Bed Bath & Beyond</a></li>
					<li><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=2GKQI7DQJT0X2&type=wedding" target="_blank">Amazon</a></li>
				</ul>
				</p>
			</div>
			<div class="span8">
				<img src="static/img/amk.jpg" class="img-rounded">
			</div>
		</div>
	</div>
{% endblock %}
