{% extends "base.html" %}
{% block title %}Thank You{% endblock %}
{% block content %}
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<div class="row-fluid">
					<div class="offset3 span6">
						<h2>Thank you!</h2>
						<p>
							Thank you for taking the time out of your day to fill out our RSVP. Here is a picture of Chester as a reward:
						</p>
						<img src="static/img/ChesterGreetings.JPG" class="img-rounded">
						<p>
							If you need to change anything please feel free to contact <a href="mailto:annemarieknepper@gmail.com">AnneMarie</a> or <a href="mailto:chris.sjoblom@gmail.com">Chris</a>.
						</p>			
					</div>
				</div>
			</div>
		</div>
{% endblock %}
