{% extends "base.html" %}
{% block title %}Wedding Party{% endblock %}
{% block content %}
<div class="row-fluid">
                <div class="span12">
                        <div class="hero-unit">
                                <div class="row-fluid">
                                        <div class="span12">
						<p>
						<h2>
							Who are these people?
						</h2>
						</p>
						<p>
						<em>	A practical guide to Chris and AnneMarie’s Wedding Party</em>
						</p>
					</div>
					<div class="span12">
						<h2>The Ladies (Bridesmatrons)</h2>
						<div class="row-fluid">
							<div class="span8">
								<p>
									<h3>Krista</h3>
									Krista (“K”) - AMTK and Krista met in high school, but became close in college, and closer still as roommates. AM and K spent hours analyzing emails, texts, and voicemail messages from potential suitors, among other scholarly pursuits. Krista and Steve’s wedding was one of the happiest days of AnneMarie’s life. Seriously. She cried the whole time.
								</p>
							</div>
							<div class="span4">
							<img src="static/img/krista.jpg" class="img-rounded">
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span8">
								<p>
								<h3>Krystle</h3>
								Krystle - Happens to be married to AnneMarie’s brother Kyle, but they would be friends anyway. They sometimes say the same thing and once bought the exact same swimsuit, even the same color, independently of each other. They trust each other for an honest answer to the question, “How do I look?”
								</p>
							</div>
								<div class="span4">
								<p>
									<img src="static/img/krystle.jpg" class="img-rounded">
								</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span8">
								<p>
									<h3>Jen</h3>
									Jennifer (“Jen”) - Cousins since 1983, Jen and AnneMarie became each other’s confidant and cheerleader as adults. As eldest Tyson cousin, Jen had to go through everything first. So it’s only fair Jen was one of the first people AnneMarie told when she had a sneaking suspicion Chris might be The One.
								</p>
							</div>
							<div class="span4">
								<p>
								<img src="static/img/jen.jpg" class="img-rounded">
								</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span8">
								<p>
									<h3>Michele</h3>
									Michele (“Missy”) - Michele and AnneMarie have had a special bond ever since Michele’s second birthday, which AnneMarie rudely interrupted by coming into the world. Missy and “Annie” really like each other and sincerely didn’t mind sharing the spotlight for epic joint birthday parties every July 28. Several same-but-different outfits later, they remain friends. (In college, AnneMarie and Michele looked so similar Krista once mistook Missy for AnneMarie, but realized her mistake when she considered the individual she saw was <em>jogging.</em>)
								</p>
							</div>
							<div class="span4">
								<p>
								<img src="static/img/missy.jpg" class="img-rounded">
								</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span8">
								<p>
									<h3>Karen</h3>
									Karen - Karen was AnneMarie’s City Editor at the Albany Democrat-Herald. They co-founded Nacho Mama’s Book Club, which has led to many happy, wine-drenched memories of delicious dinners, beach and Sisters trips, and the occasional reading of a book. AnneMarie goes to Karen for all manner of advice, up to and including the best low-carb recipes around, which she reads, considers, then waits for Karen to make.
								</p>
							</div>
							<div class="span4">
								<p>
								<img src="static/img/karen.jpg" class="img-rounded">
								</p>
							</div>
						</div>
					</div>
					<div class="span12">
						<p class="pull-right">
							<h2>The Fellas</h2>
						</p>
						<div class="row-fluid">
							<div class="span4">
							<img src="static/img/jake.png" class="img-rounded">
							</div>
							<div class="span8">
							<p class="pull-right">
							<h3>Jake</h3>
							Jake - A fellow Vandal, Jake and Chris met in business school at U of I.  Jake is the proud co-creator of both the Bongophone -- a bongo drum-based technology that only works when the user is under the influence or a child under the age of three is present -- as well as the Lily Craner, the cutest baby ever.*<br/>
<em>*Subcategory: female. Sub-subcategory: blonde, curly-haired.</em>
							</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span4">
								<p align="center">
								<img src="static/img/jessy.jpg" class="img-rounded">
								</p>
							</div>
							<div class="span8">
							<h3>Jessy</h3>
							<p class="pull-right">
							 Jessy - Chris (and AnneMarie) can always count on Jessy. A first-rate cousin, Jessy and his family have become an integral part of Chris and AnneMarie’s lives. Jessy was one of the first of Chris’ family members to “go in for a hug” and has been actively hugging everyone in sight ever since.
							</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span4">
								<p align="center">
								<img src="static/img/jared.png" class="img-rounded">
								</p>
							</div>
							<div class="span8">
							<h3>Jared</h3>
							Jared - Jerrrrrd is the kind of guy 50-something ladies would describe as “a nice young man.” Chris and Jared met in an accounting class at business school at the University of Idaho. Jared has very white teeth. Jared was a used car salesman but now he is studying to be a lawyer. [Insert joke here.]
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span4">
								<p align="center">
								<img src="static/img/matt.jpg" class="img-rounded">
								</p>
							</div>
							<div class="span8">
							<h3>Matt</h3>
							<p>
								Matt - Matt “Is somebody downloading something?” Sjoblom is the middlest of Tom and Lisa’s three sons.
							</p>
							</div>
						</div><br />
						<div class="row-fluid">
							<div class="span4">
								<p align="center">
								<img src="static/img/nick.jpg" class="img-rounded">
								</p>
							</div>
							<div class="span8">
							<h3>Nick</h3>
							<p>
								Nick - Somewhat contradictory to his tremendous height, Nick is actually the youngest of Tom and Lisa’s boys. His big laugh echoes throughout the largest of houses (the only kind suitable for his giantness.)
							</p>
							</div>
						</div>
					</div>



                                        </div>
                                </div>
                        </div>
                </div>
{% endblock %}
